<mat-card>
    <mat-card-header>
        <button type="button" mat-icon-button color="primary" routerLink="/asientos/list">
            <mat-icon>arrow_back</mat-icon>
            <h4>Volver</h4>
        </button>
    </mat-card-header>
    <mat-card-title class="titulo">Nuevo asiento</mat-card-title>
    <form class="form">
        <mat-form-field>
            <mat-label>Seleccione las cuentas</mat-label>
            <mat-select [(ngModel)]="cuentaSeleccionada" class="capitalize" name="cuenta">
                <mat-option *ngFor="let cuenta of cuentasApi" [value]="cuenta.id_cuenta" class="capitalize" [disabled]="cuentasDeshabilitadas.includes(cuenta.id_cuenta)">{{ cuenta.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="contenedor">
            <mat-form-field>
                <!-- cuando ingresa en el Debe, el valor tiene que ser positivo -->
                <mat-label>Ingrese el Debe</mat-label>
                <input matInput type="number" step=0.01 [(ngModel)]="debe" name="debe" min="0" pattern="[0-9]+(\.[0-9]+)?">
            </mat-form-field>
            <mat-form-field>
                <!-- cuando ingresa en el Haber, el valor tiene que ser negativo -->
                <mat-label>Ingrese el Haber</mat-label>
                <input matInput type="number" step=0.01 [(ngModel)]="haber" name="haber" min="0" pattern="[0-9]+(\.[0-9]+)?">
            </mat-form-field>
            <button mat-raised-button (click)="agregarCuenta()">Agregar cuenta</button>
        </div>

        <!-- Tabla para previsualizar el asiento -->
        <mat-card>
            <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8" *ngIf="mostrarTabla">
                <!-- columna para previsualizar las cuentas seleccionadas -->
                <ng-container matColumnDef="cuenta">
                    <th class="th" mat-header-cell *matHeaderCellDef>Cuentas</th>
                    <td class="cuenta-cell" mat-cell *matCellDef="let cuenta" class="capitalize">{{ buscarNombreCuenta(cuenta.id_cuenta) }}</td>
                </ng-container>
                <!-- columna debe -->
                <ng-container matColumnDef="debe">
                    <th class="th" mat-header-cell *matHeaderCellDef>Debe</th>
                    <td mat-cell *matCellDef="let cuenta">{{ cuenta.importe >= 0 ? cuenta.importe : ''}}</td>
                </ng-container>
                <!-- columna haber -->
                <ng-container matColumnDef="haber">
                    <th class="th" mat-header-cell *matHeaderCellDef>Haber</th>
                    <td mat-cell *matCellDef="let cuenta">{{ cuenta.importe < 0 ? (-1) * cuenta.importe : ''}}</td>
                </ng-container>
                <!-- Columna Total Debe -->
                <ng-container matColumnDef="totalDebe">
                    <th class="th" mat-header-cell *matHeaderCellDef>Total Debe</th>
                    <td mat-cell *matCellDef="let cuenta; let last = last" [ngStyle]="{'color': last ? 'black' : 'white'}">
                        {{ last ? totalDebe : '' }}</td>
                    </ng-container>
                <!-- Columna Total Haber -->
                <ng-container matColumnDef="totalHaber">
                    <th class="th" mat-header-cell *matHeaderCellDef>Total Haber</th>
                    <td mat-cell *matCellDef="let cuenta; let last = last" [ngStyle]="{'color': last ? 'black' : 'white'}">
                        {{ last ? totalHaber : ''}}</td>
                </ng-container>
                    <!-- Para eliminar cuentas -->
                <ng-container matColumnDef="eliminar">
                    <th class="th" mat-header-cell *matHeaderCellDef>Acción</th>
                    <td mat-cell *matCellDef="let cuenta">
                        <button mat-button color="warn" (click)="eliminarCuentaDelAsiento(cuenta.id_cuenta)">Eliminar</button>
                    </td>
                </ng-container>    
                    <tr mat-header-row *matHeaderRowDef="['cuenta', 'debe', 'haber', 'totalDebe', 'totalHaber', 'eliminar']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['cuenta', 'debe', 'haber', 'totalDebe', 'totalHaber', 'eliminar'];"></tr>
                </table>
            </mat-card>
        <button type="button" mat-raised-button color="primary" [disabled]="!asientosForm.valid" *ngIf="mostrarBtnGuardar" (click)="guardarAsiento()">Guardar asiento</button>
    </form>    
</mat-card>