@import '../../asientos-list/asientos-list/asientos-list.component.css';
.titulo {
    font-weight: 500;
    text-align: center;
    padding-bottom: 2rem;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 55vw;
    margin: auto;
    margin-bottom: 4rem;
}
.capitalize::first-letter {
    text-transform: uppercase;
}
.btn {
    height: 3.4rem;
    margin: .25rem .5rem;
}
.mat-column-haber, .mat-column-totalHaber {
    border-right: 1px solid black;
}
.mat-column-debe, .mat-column-haber, .mat-column-totalHaber, .mat-column-totalDebe{
    text-align: right;
}
.cuenta-cell{
    font-style: italic;
}
.table{
    width: 70vh;
}
.contenedor {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {
    .contenedor {
        flex-direction: column; 
        margin: auto;
        width: 90vw;
        margin-top: 0;
    }
    .form {
        width: 90vw;
    }
}