#Ignoramos el archivo .env que contiene credenciales importantes de nuestro proyecto, como el ingreso a DB.
Back-Develop/.env

#node_modules
Back-Develop/node_modules

# Carpetas
Front-Develop/temp/
Front-Develop/tmp/

Front-Develop/logs/
Front-Develop/docs/

Front-Develop/bundle/
Front-Develop/build/
Front-Develop/dist/

Front-Develop/.angular/
Front-Develop/node_modules/
Front-Develop/.vscode/

# Archivos
*.swp
*.temp
*.tmp

*.log*
*.txt
*.inf

*.exe
*.bat
*.sh

*.env