.form {
    display: flex;
    justify-content: center;
}
.campo {
    width: 50vw;
}
.btn {
    height: 3.4rem;
    margin: .25rem .5rem;
}

.tituloEditar{
    text-align: center;
    padding-bottom: 3%;
}