<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema Contable</span>
    <mat-menu #menu="matMenu">
        <a [routerLink]="['/cuentas/list']">
            <button mat-menu-item>
                <mat-icon>library_books</mat-icon>
                <span>Plan de Cuentas</span>
            </button>
        </a>
        <a [routerLink]="['/asientos/list']">
            <button mat-menu-item>
                <mat-icon>auto_stories</mat-icon>
                <span>Libro Diario</span>
            </button>
        </a>
        <a [routerLink]="['/estados/resultados']">        
            <button mat-menu-item>
                <mat-icon>book_5</mat-icon>
                <span>Estado de Resultados</span>
            </button>
        </a>
        <a [routerLink]="['/estados/patrimonial']">
            <button mat-menu-item>
                <mat-icon>account_balance</mat-icon>
                <span>Situación Patrimonial</span>
            </button>
        </a>
    </mat-menu>
</mat-toolbar>
