@import '../../asientos-detail/asientos-detail/asientos-detail.component.css';

.title {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem;
}
.title h2 {
    font-weight: bold;
}
.table {
    width: 100%;
}
.mat-column-nro_asiento {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.th {
    font-weight: bold;
}
.panel-title{
    margin: auto;
}
.mat-accordion-asientos{
    box-shadow: 0 4px 10px -4px black;
}
.header{
    background-color:  rgba(0, 0, 0, 0.787) !important;
    color: rgb(230, 218, 195);
}
.footer{
    font-family: Roboto, sans-serif;
    letter-spacing: .0125em;
    font-size: 0.97rem;
    color: rgb(230, 218, 195);
    background-color: #673ab7;
}