.title {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem;
}
.title h2 {
    font-weight: bold;
}
.table {
    width: 100%;
}
.mat-column-nro_asiento {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}
.th {
    font-weight: bold;
}
.panel-title{
    margin: auto;
}
.mat-accordion-asientos{
    box-shadow: 0 4px 10px -4px black;
}