<mat-card>
    <!-- selección de grupo, bloque, rubro -->
    <mat-card-content class="content">
        <!-- grupo -->
        <mat-form-field class="campos">
            <mat-label>Selecciona un grupo</mat-label>
            <mat-select [(ngModel)]="grupoSeleccionado" (ngModelChange)="actualizarBloquesFiltrados()">
                <mat-option *ngFor="let grupo of gruposBloquesRubros[0].grupo" [value]="grupo.id_grupo">{{ grupo.nombre_grupo }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- bloque -->
        <mat-form-field class="campos">
            <!-- *ngIf="bloquesFiltrados.length > 0" -->
            <mat-label>Selecciona un bloque</mat-label>
            <mat-select [(ngModel)]="bloqueSeleccionado" (ngModelChange)="actualizarRubrosFiltrados()">
                <mat-option *ngFor="let bloque of bloquesFiltrados" [value]="bloque.id_bloque">{{ bloque.nombre_bloque }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- rubro -->
        <mat-form-field class="campos">
            <mat-label>Selecciona un rubro</mat-label>
            <mat-select [(ngModel)]="rubroSeleccionado" (ngModelChange)="mostrarCuentas()">
                <mat-option *ngFor="let rubro of rubrosFiltrados" [value]="rubro.id_rubro">{{ rubro.nombre_rubro }}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Comenté este botón para conservarlo en caso de que prefieran mostrar cuentas por medio del botón en lugar de por medio del menú -->
        <!-- <button mat-button class="campos btn" (click)="mostrarCuentas()">
            <mat-icon class="icono">pageview</mat-icon>
            Mostrar cuentas
        </button> -->

        <!-- Se activan al mostrar cuentas -->
        <button mat-button class="campos btn" (click)="agregarCuenta()" *ngIf="mostrarBotonAgregar">
            <mat-icon class="icono">library_add</mat-icon>
            Agregar cuenta
        </button>
        <button class="campos btn" mat-raised-button color="primary" (click)="generarPdf()" *ngIf="mostrarBotonPdf">
            Generar PDF
            <mat-icon class="iconoPdf">description</mat-icon>
        </button>
    </mat-card-content>

    <!-- Se activa al presionar "Agregar Cuenta" -->
    <mat-card-content *ngIf="mostrarCampoNuevaCuenta" class="content nuevaCuenta">
        <mat-form-field class="campos">
            <mat-label>Nombre de la nueva cuenta</mat-label>
            <input matInput [(ngModel)]="nuevaCuenta" placeholder="Nombre de la nueva cuenta">
        </mat-form-field>
        <button mat-button class="campos btn guardar" (click)="comunicarNuevaCuenta()">Guardar</button>
        <button mat-button class="campos btn cancelar" (click)="cancelarNuevaCuenta()">Cancelar</button>
    </mat-card-content>
</mat-card>
<mat-card>
    <table class="table" mat-table [dataSource]="cuentasData">
        <!-- columna nombre -->
        <ng-container matColumnDef="nombre">
            <th class="th" mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let e">{{e.nombre}}</td>
        </ng-container>
        <!-- columna código -->
        <ng-container matColumnDef="codigo">
            <th class="th" mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let e">{{e.codigo}}</td>
        </ng-container>
        <!-- columna saldo -->
        <ng-container matColumnDef="saldo">
            <th class="th" mat-header-cell *matHeaderCellDef>Saldo</th>
            <td mat-cell *matCellDef="let e">{{e.saldo}}</td>
        </ng-container>
        <!-- columna acciones -->
        <ng-container matColumnDef="acciones">
            <th class="th" mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['/cuentas/detail']" [queryParams]="{ nombreActual: element.nombre, codigoCuenta: element.codigo }">
                    <button class="btn1" mat-raised-button color="primary">Editar</button>
                </a>                
                <button class="btn1" mat-raised-button color="warn" (click)="borrarCuenta(element.codigo, element.nombre, element.saldo)">Eliminar</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
    </table>
</mat-card>

